<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fa fa-paw" aria-hidden="true"></i> Pet-Store
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cats
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Toys</a></li>
              <li><a class="dropdown-item" href="#">Food</a></li>
              <li><a class="dropdown-item" href="#">Upholstery</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dogs
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Toys</a></li>
              <li><a class="dropdown-item" href="#">Food</a></li>
              <li><a class="dropdown-item" href="#">Upholstery</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-start flex-grow-1">
        <form class="form-inline ">
          <div class="input-group">
            <input type="text" class="form-control rounded-pill" style="width: 300px;" placeholder="Search for pets" aria-label="Search" aria-describedby="search">
            <div class="input-group-append">
              <button class="btn btn rounded-circle" type="button"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Signup</a>
        </li>
      </ul>
    </div>
  </nav>
  