  <div class="container">
    <button class="button-35" role="button" style="margin-top: 6rem; margin-left: 1rem;" (click)="openModal()">Add products +</button>
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card " style="margin-top: 6rem;">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Product list</h5>
                    <a><i class="fa fa-paw" aria-hidden="true"></i></a>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>PRODUCT IMAGE</th>
                                <th>PRODUCT NAME</th>
                                <th>PRODUCT DESCRIPTION</th>
                                <th>ITEM PRICE</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle" *ngFor="let product of products">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <img [src]="product.imageUrl" alt="{{ product.name }}" class="item-image" />
                                        </div>
                                    </div>
                                </td>
                                <td class="h6 mb-0 lh-1">{{ product.name }}</td>
                                <td>
                                    <span class="d-inline-block align-middle">{{ product.description.substring(0, 50) }}...</span>
                                </td>
                                <td>
                                    <span class="d-inline-block align-middle">${{ product.price }}</span>
                                </td>
                                <td class="button-product">
                                    <button class="btn black-btn btn-sm mx-1" title="Update" type="submit">
                                      <i class="bi bi-pen"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm mx-1" title="Delete Item" type="button" (click)="openDeleteConfirmation(product.id)">
                                      <i class="bi bi-trash"></i>
                                    </button>
                                  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
