<div class="container">
    <div class="card">
    <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="table-responsive px-3">
                                <table class="table table-striped align-middle table-nowrap">
                                    <tbody>
                                        
                                        <tr>
                                            <td>
                                                <div class="avatar-lg me-4"  style="width: 220px; ">
                                                    <img src="https://petproducts.com/cdn/shop/products/55614.jpg?v=1676532821&width=700" class="img-fluid rounded" alt="">
                                                </div>
                                            </td>
    
                                            <td>
                                                <div>
                                                    <h5 class="font-size-18"><a class="text-dark">Titan Easy-On Pinch Training Collar</a></h5>
                                                </div>
                                            </td>
    
                                            <td>
                                                <ul class="list-unstyled ps-0 mb-0">
                                                    <li><p class="text-muted mb-1 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i> The Titan Easy-On Prong Training Collar is the perfect tough,</p></li>
                                                </ul>
                                            </td>
    
                                            <td style="width: 180px;">
                                            </td>
    
                                            <td style="width: 220px;">
            
                                            </td>    
                                            <td>
                                                <div class="dropdown float-end">
                                                    <a class="text-muted dropdown-toggle font-size-20" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                        <i class="bx bx-dots-horizontal-rounded"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>