body{
    margin-top:20px;
    background: #f6f9fc;
}
.account-block {
    padding: 0;
    background-image: url(https://media.istockphoto.com/id/1011583734/vector/monochrome-black-and-white-dog-cat-pet-animal-paw-foot-hand-drawn-ink-sketch-seamless.jpg?s=612x612&w=0&k=20&c=JSFAQeJvgctndBMWWjBA7qeOME7crE51XBFf4v_QooE=);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* border: black solid rgba(0, 0, 0, 0); */
}
.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text-theme {
    color: #5369f8 !important;
}

.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #5369f8;
}

/* Add this to your existing CSS */
/* Elastic Input Styles */
.form-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-control {
    border: none; /* Remove the border */
    border-bottom: 2px solid #5369f8; /* Add a line under the input */
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    transition: all 0.3s;
    width: 100%;
    background: transparent; /* Make the background transparent */
    outline: none;
  }
  
  .form-control:focus {
    border-bottom-color: #5369f8; /* Change the line color on focus */
  }
  
  /* Add this if you want to change the placeholder text color */
  .form-control::placeholder {
    color: #5369f8;
  }
  
  /* Button Styles */
  .btn-theme {
    background-color: transparent;
    border: #5369f8; /* Remove the button border */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: all 0.3s;
    margin-top: 5px;
  }
  
  .btn-theme:hover {
    background-color: #5369f8;
    color: #fff;
    text-decoration: none;
  }
  