<div id="main-wrapper" class="container">
    <div class="row justify-content-center" style="margin-top: 6rem;">
        <div class="col-xl-10">
            <div class="card border-0" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme"><i class="fa fa-paw" aria-hidden="true"></i> Signup</h3>
                                </div>

                                <h6 class="wel">Create an account!</h6>
                                <p class="text-muted mt-2 mb-4">Enter your details below to create an account and access our website.</p>

                                <form (submit)="onSubmit()" [formGroup]="signupForm" novalidate>
                                  <div class="form-group">
                                      <label for="firstName">First Name</label>
                                      <input type="text" class="form-control" id="firstName" formControlName="firstName">
                                      <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="text-danger">
                                        First Name is required.
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="lastName">Last Name</label>
                                      <input type="text" class="form-control" id="lastName" formControlName="lastName">
                                      <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="text-danger">
                                        Last Name is required.
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputEmail">Email address</label>
                                      <input type="email" class="form-control" id="exampleInputEmail" formControlName="email">
                                      <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="text-danger">
                                        Please enter a valid email address.
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputPassword">Password</label>
                                      <input type="password" class="form-control" id="exampleInputPassword" formControlName="password">
                                      <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-danger">
                                        Password is required and must meet the criteria(Minimum eight characters, at least one letter and one number)
                                      </div>
                                  </div>
                                  <button type="submit" class="btn btn-theme">Signup</button>
                                  <p class="text-muted mt-3">
                                      Already have an account? <a routerLink="/login" class="text-primary ml-1">Login</a>
                                  </p>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4"> <i class="fa fa-paw" aria-hidden="true"></i>Pet-store</h4>
                                    <p class="lead text-white">
                                        "Welcome to our PET-STORE! Where every pet's happiness is our priority. Enjoy your visit!"</p>
                                    <p>- Owner </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>
