<!-- cart.component.html -->

<div class="cart">
    <h2>Your Shopping Cart</h2>
  
    <div  class="empty-cart-message">
      <p>Your cart is empty.</p>
    </div>
  
   
      <ul class="cart-items">
        <li  class="cart-item">
          <div class="item-details">
            <span class="item-name">item.imageUrl </span>
            <span class="item-name">item.name </span>
            <span class="item-name">item.desc </span>
            <span class="item-price"> item.price </span>
          </div>
          
          <button  class="remove-button">Remove</button>
        </li>
      </ul>
      <p class="total">Total</p>
      <button class="checkout-button">Checkout</button>
   
  </div>
  