<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container padding-bottom-3x mb-1">
   
    <div class="table-responsive shopping-cart" style="margin-top: 8rem;" >
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Unit Price </th>
                   
                    <th class="text-center">
                        <button (click)="openDeleteAllConfirmation()" class="btn btn-sm btn-outline-danger" >Clear Cart
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let item of products" >
                <tr>
                    <td>
                        <div class="item-image">
                            <a class="item-image" href="#"><img src="{{item.imageUrl}}" alt="Product"></a>
                           
                        </div>
                    </td>
                    <td class="text-center text-lg text-medium">{{item.name}}</td>
                    <td class="text-center">
                        <div class="count-input">
                            <select class="form-control" [(ngModel)]="item.quantity" (change)="onSelect()">
                            <option *ngFor="let quantity of quantityOptions" [value]="quantity">{{ quantity }}</option>
                            </select>
                        </div>
                    </td>
                    <td class="text-center text-lg text-medium">{{item.price}}</td>
                   
                    <td class="text-center">
                        <button   (click)="openDeleteConfirmation(item.id)" class="remove-from-cart"  data-toggle="tooltip" title="" data-original-title="Remove item">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>     
     </tbody>
     </table>             
                 
             
                    
      
    
    <div class="shopping-cart-footer">
        <div class="column">
           
        </div>
        <div class="column text-lg">Subtotal: <span class="text-medium">{{subtotal}}</span></div>
    </div>
    
    <div class="shopping-cart-footer">
        <div class="column"><button class="btn btn-outline-secondary" (click)="toggleModal()" ><i class="icon-arrow-left" ></i>&nbsp;check out </button></div>
        <div class="column" ><a class="btn btn-outline-secondary" href="#"><i  id="center"></i>&nbsp;Back to Shopping</a></div>
      

    </div>
    <app-chekout *ngIf="isCheckoutVisible" (toggleModalEvent)="toggleModal()"></app-chekout>
    
</div>