<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container padding-bottom-3x mb-1">
   
    <!-- Shopping Cart-->
    <div *ngFor="let item of products" class="table-responsive shopping-cart" style="margin-top: 8rem;">
        <table class="table">
            <thead>
                <tr>
                    <th>{{item.name}}</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Subtotal</th>
                   
                    <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Clear Cart</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="item-image">
                            <a class="item-image" href="#"><img src="item.imageUrl" alt="Product"></a>
                           
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="count-input">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </td>
                    <td class="text-center text-lg text-medium">{{item.price}}</td>
                   
                    <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                </tr>
             
                    
     </tbody>
     </table>             
                 
             
                    
      
    
    <div class="shopping-cart-footer">
        <div class="column">
           
        </div>
        <div class="column text-lg">Subtotal: <span class="text-medium">$289.68</span></div>
    </div>
    <div class="shopping-cart-footer">
        <div class="column"><a class="btn btn-outline-secondary" href="#"><i class="icon-arrow-left"></i>&nbsp;Back to Shopping</a></div>

    </div>
</div>