<div id="modal-overlay"  >
  <div class="modal-container">
   <div class="modal-close"> 
   
    <button class="btn  " (click)="closeModal()"><i class="fa fa-close"></i></button>
    </div>
    <div class="row">
      <!-- Left -->
      <div class="col-lg-9">
        <div class="accordion" id="accordionPayment">
          <!-- Credit card -->
          <form class="accordion-item mb-3" [formGroup]="confirmationForm">
            <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
              <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseCC" aria-expanded="false">
                <input class="form-check-input" type="radio" name="payment" id="payment1">
                <label class="form-check-label pt-1" for="payment1">
                  Credit Card
                </label>
              </div>
              <span>
                <svg width="34" height="25" xmlns="http://www.w3.org/2000/svg">
                  <!-- Your SVG content here -->
                </svg>
              </span>
            </h2>
            <div id="collapseCC" class="accordion-collapse collapse show" data-bs-parent="#accordionPayment">
              <div class="accordion-body">
                <div class="mb-3">
                  <label class="form-label">Card Number</label>
                  <input type="text" class="form-control" placeholder="" formControlName="confirmationInput" required>
                  <div class="error-message" *ngIf="confirmationForm.get('confirmationInput')?.hasError('required')">
                    Card Number is required.
                  </div>                
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label class="form-label">Name on card</label>
                      <input type="text" class="form-control" placeholder="" formControlName="cardName" required>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label class="form-label">Expiry date</label>
                      <input type="text" class="form-control" placeholder="MM/YY" formControlName="expiryDate" required>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label class="form-label">CVV Code</label>
                      <input type="password" class="form-control" formControlName="cvvCode" required>
                    </div>
                  </div>
                </div>
                <div>
                  <button type="button" class="button-73" (click)="onSubmit()">Confirm</button>
                  <div class="overlay" *ngIf="paymentConfirm && !loadingDelivery">
                    <i class="fa fa-check check-icon" style="font-size: 48px; color: green;"></i>
                  </div>
                  <div class="overlay" *ngIf="loading">
                      <i class="fa fa-spinner fa-spin loading-icon" style="font-size: 48px;" (click)="closeModal()"></i>
                  </div>
                  
                </div>
              </div>
            </div>
          </form>
          
          <!-- On Delivery -->
          <form class="accordion-item mb-3 border" [formGroup]="deliveryForm">
            <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
              <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePP" aria-expanded="false">
                <input class="form-check-input" type="radio" name="payment" id="payment2">
                <label class="form-check-label pt-1" for="payment2">
                  On Delivery
                </label>
              </div>
              <div class="overlay" *ngIf="loadingDelivery">
                <i class="fa fa-spinner fa-spin loading-icon" style="font-size: 48px;"></i>
              </div>
              <div class="overlay" *ngIf="deliveryConfirmed && !loadingDelivery">
                <i class="fa fa-check check-icon" style="font-size: 48px; color: green;"></i>
              </div>
            </h2>
            <div id="collapsePP" class="accordion-collapse collapse" data-bs-parent="#accordionPayment">
              <div class="accordion-body">
                <div class="px-2 col-lg-6 mb-3">
                  <label class="form-label">Full Name</label>
                  <input type="text" class="form-control" formControlName="fullName" required>
                
                  <label class="form-label">Address</label>
                  <input type="text" class="form-control" formControlName="address" required>
                  
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" formControlName="email" required>
                 
                  <label class="form-label">Phone Number</label>
                  <input type="tel" class="form-control" formControlName="phoneNumber" required>
                  <div class="error-message" *ngIf="deliveryForm.get('phoneNumber')?.hasError('required')">
                    Phone Number is required.
                  </div>
                </div>
                <div>
                  <button type="button" class="button-73" (click)="confirmDelivery()">
                    Confirm
                  </button>
              
            
                </div>
              </div>
            </div>
          </form>
          
        </div>
      </div>
     
    </div>
    </div>
</div>




     
  